body {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}


.experience, .education {
  border-left: 1px solid black;
  padding: 1rem;
  width: 40%;
}

header {
  background-color: #0074D9;
  color: #FFF;
  padding: 1rem;
}

section {
  padding: 1rem;
}

h2 {
  font-size: 1.5em;
  margin: 0 0 10px 0;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"], select {
  box-sizing: border-box; 
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  margin-bottom: 20px;
  padding: 0 10px;
}

.col-6 {
  flex-basis: 50%;
}

.button-edit, .button-update {
  display: inline-block;
  padding: 0.5rem;
  width: 75px;  
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 1rem;
}

.button-add {
  display: inline-block;
  padding: 0.5rem;
  width: 75px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: rgb(4, 90, 4);
  border:none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 1rem;
}

.button-delete {
  display: inline-block;
  padding: 0.5rem;
  width: 75px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: rgb(186, 1, 1);
  border:none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 1rem;
}

.button-edit:hover {
  background-color: #0062cc;
}

.experience-sample {
  margin-bottom: 1rem;
}

.App {
  background-color: #ecf0f4;
  overflow: auto;
}

.components-container {
  display: flex;  
}

.general-component {
  width: 20%;
}